* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

.navbar {
    background-color: black;
    position: fixed;
    width: 100%;
    padding-top: 8px;
    top: 0;
    height: 70px;
}

.navdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo a {
    font-size: 1.8rem;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.navdiv ul {
    display: flex;
    list-style: none;
}

.navdiv ul li {
    margin: 0 10px;
}

.navdiv ul li a {
    color: white;
    border-radius: 30px;
    text-decoration: none;
    padding: 5px 10px;
    transition: 0.3s;
}

.navdiv ul li a:hover {
    background-color: white;
    border-radius: 30px;
    color: black;
    border-radius: 5px;
}

.buttons i {
    color: white;
    font-size: 1.5rem;
    margin-left: 20px;
    cursor: pointer;
}

.photo img,
.pixle img,
.battery img {
    width: 100%;
    height: auto;
    display: block;
}

.text1, .text2, .text3, .text4, .text5 {
    text-align: center;
    padding: 20px;
}

.text1 h1, .text2 h1, .text3 h1, .text4 h1, .text5 h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.text1 h2, .text2 h3, .text3 h3, .text4 h2, .text5 h2 {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.battery h1 {
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}
.navdiv .icons{
    display: none;
}
@media (max-width: 768px) {
    .navdiv ul {
        all: unset;
        position: fixed;
        padding-top: 50px;
        top: 0px;
        list-style: none;
        right: -230px;
        width: 230px;
        height: 100vh;
        background-color: rgb(91, 88, 88);
        z-index: 2;
        transition: .3s linear;
    }
    .buttons{
        padding-right: 30px;
    }
    .navdiv ul li{
        display: block;
        margin: 25px;
    }
    .navdiv .icons{
        display: block;
        font-size: 27px;
    }
    .navdiv ul.active {
        display: flex;
    }
    .navdiv .icons{
        position: absolute;
        top: 20px;
        right: 10px;
        cursor: pointer;
    }
    .buttons {
        margin-left: auto;
    }

    .photo img, .pixle img, .battery img {
        height: auto;
    }
}

@media (max-width: 480px) {
    .text1 h1, .text2 h1, .text3 h1, .text4 h1, .text5 h1 {
        font-size: 1.5rem;
    }

    .text1 h2, .text2 h3, .text3 h3, .text4 h2, .text5 h2 {
        font-size: 0.9rem;
    }

    .battery h1 {
        font-size: 1.5rem;
    }
}
